@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Handjet:wght@300&family=Mukta:wght@300&family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;1,300&family=Tektur&family=Ubuntu&display=swap');
body{
    font-family: 'Ubuntu', sans-serif;}
*{
    margin: 0;
    padding: 0;
}

.container{
    list-style: none;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    background-color:rgb(255, 0, 0);
    font-size: 25px;
    font-weight: 600;
    height: 70px;
    width: 100%;
}
 li{
    color:black;
    transition: 0.4s;
}
.skills li{
    transition: none !important;
}
 i:hover,.container li:hover{
    color: white;
    font-size: 32px;
    transition: 0.4s ease-out;

}
a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}
.container_2{
display: flex;
justify-content: space-between;
background-color: grey;
}
.left_side{
    align-items:center ;
    justify-content:center ;
    padding-left: 130px;
    display: flex;
    flex-direction: column;
}
.left_side h1{
    font-size: 40px;
    width: 20pc;
}

.container_2 img{
    width: 32vw;
    height: 82vh;
    margin-right: 150px;
    border-radius: 40pc;
    margin-top: 20px;
    

}
footer{
    height: 20vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
    margin-top: 100px;
}
.text_control{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-width: 10px;
    background-color:grey;
}
.contact{

margin-left: 100vh;
display: flex;
flex-direction: row;

}
.message{
    display: flex;
    margin-left: 17pc;

}
input ,textarea{
    border-radius: 10px;
 
}
.button{
    margin-left: 68px;
}
.button {
  background-color:white;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  margin-left: 7px;
}

.button:hover {
  background-color: black;
  color: white;
}

.button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button {
    padding: .75rem 1.5rem;
  }
}
.opacity{
    opacity: 30%;
}
.resume{
    padding: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2pc;
    background-color:grey ;
}
.color{
    background-color: white;
}
.education{
    background-color: white;
}
.search_control{
display: flex;
margin-left: 3pc;
}
.number{
    margin-left: 16px;
}
.email{
    margin-right: 3px;
}
.text_control input ,textarea{
    border: 3px solid black;
}
.text_control textarea{
    margin-right: 246px;
}
.info{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.education{
    display: flex;
    justify-content: center;
}
.hobbies{
    display: flex;
    justify-content: center;
    background-color: white;
}
.hire{
    border-radius: 15px;
    border: 3px solid black;
    font-size:medium;
    display: flex; 
    align-items: center; 
    margin-left:10pc;  
    size: 30px; 
    padding: 8px; 
    background-color: black;
    color: #FFFFFF;
    transition: ease-in 0.3s;
    
}
.hire:hover{
    background-color: lightsteelblue ;
    color: black;
    transition: ease-out 0.3s;
}
.icons{
    display: flex;
    gap: 90px;
}

@media all and (max-width: 900px){

.container_2 img{
    width:200px;
    height: 20pc;
    margin-left: 30px;
}

}

@media all and (max-width: 768px ){
    .container_2 img {
    width: 130px;
    height: 10pc;
    }
    .left_side{
        width: 200px;
    }
    .container{
        font-size: medium;
    }

}
@media all and (max-width: 786px ){
    .container_2 img {
    width: 130px;
    height: 10pc;
    }
    .left_side{
        width: 200px;
    }
    .container{
        font-size: small;
    }

}
@media all and (max-width: 837px ){
    .container_2 img {
    width: 130px;
    height: 10pc;
    }
    .left_side{
        width: 200px;
    }
    .container{
        font-size: medium;
    }

}
@media all and (max-width: 748px ){
    .container_2 img {
    width: 130px;
    height: 10pc;
    }
    .left_side{
        width: 200px;
    }
    .container{
        font-size: small;
        gap: 30px;
    }

}
@media all and (max-width: 722px ){
    .container_2 img {
    width: 130px;
    height: 10pc;
    }
    .left_side{
        width: 200px;
    }
    .container{
        font-size: small;
        gap: 30px;
    }

}

